*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    block-size: border-box;
}
body {
    background-image: url('darkmodeBGD.jpg');
    background:fixed;
    background-color: rgb(182, 202, 213);
    
}
.card{
    width: 90px;
    min-width: 470px;
    background: linear-gradient(135deg, #00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
   
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-style: 18px;
}
.search button {
    bottom: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;

}


.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;

}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}


.timer{
    display: flex;
    justify-content: center;
    opacity: 89%;
}
.date{
    font-size: 340%;
    font-family: sans-serif;
    border: #ffffff 1px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
     margin-right: 10px;
}
.heure{
font-size: 140%;
font-family: sans-serif;
border: #ffffff 1px solid;
border-radius: 10px;
margin-bottom: 10px;
padding: 10px;
}



/* The switch - the box around the slider */
#theme-toggle-button {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 7em;
    cursor: pointer;
  }
  
  /* Hide default HTML checkbox */
  #toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #container,
  #patches,
  #stars,
  #button,
  #sun,
  #moon,
  #cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
  }
  
  /* night sky background */
  #toggle:checked + svg #container {
    fill: #2b4360;
  }
  
  /* move button to right when checked */
  #toggle:checked + svg #button {
    transform: translate(28px, 2.333px);
  }
  
  /* show/hide sun and moon based on checkbox state */
  #sun {
    opacity: 1;
  }
  
  #toggle:checked + svg #sun {
    opacity: 0;
  }
  
  #moon {
    opacity: 0;
  }
  
  #toggle:checked + svg #moon {
    opacity: 1;
  }
  
  /* show or hide background items on checkbox state */
  #cloud {
    opacity: 1;
  }
  
  #toggle:checked + svg #cloud {
    opacity: 0;
  }
  
  #stars {
    opacity: 0;
  }
  
  #toggle:checked + svg #stars {
    opacity: 1;
  }
  
  .darkMode{
   text-align: center;
  }

.title_felicano {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  h1{
    font-family: 'Times New Roman', Times, serif;

  }
}


@media only screen and (max-width: 600px) {
  .card{
    width: 90px;
    min-width: 270px;
    background: linear-gradient(135deg, #00feba,#5b548a);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 20px 17px;
    text-align: center;
   
    .search{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  } 
  .search input{
      border: 0;
      outline: 0;
      background: #ebfffc;
      color: #555;
      padding: 5px 12,5px;
      height: 30px;
      border-radius: 30px;
      flex: 1;
      margin-right: 8px;
      font-style: 9px;
  }
  .search button {
      bottom: 0;
      outline: 0;
      background: #ebfffc;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
  }
  
  .search button img {
      width: 8px;
  }
}

}